.about-me-container {
    background: #F2F2F2;
    width: 100%;
    margin: 75px 0px;
    padding: 75px 0px;
    text-align: center;
}

h1 {
    font-family: 'Montserrat';
    font-weight: 400;
}

p {
    padding-left: 20%;
    padding-right: 20%;
    font-family: 'Montserrat';
}