.experience-container {
    width: 100%;
    padding: 50px;
    background-color: #342D30;
    margin-bottom: 0px;
}

.avatar {
    position: absolute;
    right: 0;
    text-align: right;
    width: 35%;
}

.experience-header {
    color: white;
    padding-top: 200px;
    margin-left: 50px;
}

.light-underline {
    width: 100px;
    height: 5px;
    background-color: #F7E1DE;
    padding-left: 100px;
}

.toggle-button {
    padding: 15px;
    width: 125px;
    font-family: 'Montserrat';
    font-size: 12.5pt;
    outline: none;
    box-shadow: none;
    border: none;
    color: #ffffff;
}

.left-button {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin: 75px 0px 50px 0px;
}

.right-button {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin: 75px 50px 50px 0px;
}

.experience-content {
    margin-top: 175px;
}
